
body{
    
    background: rgba(240,255,240);
    background: repeating-conic-gradient(
    from 10deg at -100% 50%,
    rgb(220,220,255),
    rgb(240,240,255) 2deg 7deg,
    rgb(220,220,255),
    rgb(240,240,255) 15deg 20deg,
    rgb(220,220,255) 25deg
  );
    padding: 2%;
    justify-content: center;

}
.icon{
    margin: 0px 5px;
text-decoration: none;
display: inline-block;

}
header{
    height: 48px;
display:flex ;
}
h1{
    color: #0A3871;
    display: inline-block;
    margin: auto 10px;

}

/* #bodyContainer{
    width: 100%;
    height: auto;
    display: flex;
    align-items:flex-start;
    justify-content: center;

} */

#sector1{
    background: rgba(230,230,235,0.3);
    padding: 10px;
    border-radius: 12px;
    width: 58.5%;
    box-sizing: border-box;
    height: 100%;
    margin: 10px auto;
    margin-right: 1%;
    display: inline-block;
     
}
h3,h6{
    margin: 10px auto;
}

#sector3{
    background: rgba(230,230,235,0.3);
    padding: 10px;
    border-radius: 12px;
    width: 39.5%;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    margin: 10px auto;
    display: inline-block;
}

.boton{
    display: inline;
    text-align: center;
    width: 45%;
    height: 30px;
    margin: 10px auto;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    box-shadow:1px 2px 1px rgb(39, 72, 116);

}
 
.toLeft{
    background-image: linear-gradient(to left, rgb(200, 240, 255), rgb(150, 190, 200));
}
.toRigth{
    background-image: linear-gradient(to right, rgba(160,190,200), rgba(200,240,255));
 
}

textarea{
    width: 100%;
    resize:unset;  
    border-radius: 15px;
    border-color: aliceblue;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

/* ************************Boton Copiar************************ */
.btnCopy{
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 5px;
    margin-top: -50px;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    
}

.cp-ppal{
    height: 20px;
    width: 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color:transparent;
    margin: 2.5px auto;

}
.cp-pantalla{
    height: 40.5px;
    width: 40.5px;
    border-radius: 50%;
    position: absolute;
    display: inline-block; 
    /* background-color: rgba(200,200,200,0.3); */
    background-color:transparent;
    margin: -30px 0 0 -13px;
    border: 1px solid #ccc;
    z-index: 2;

}

.cp-sup{
    height: 30px;
    width: 25px;
    border-radius: 5px;
    position: absolute;
    display: inline-block; 
    margin-left: 10px;
    margin-bottom: 1px;
    background-color:#fff;
    z-index: 1  ;

}

.cp-inf{
    height: 20px;
    width: 15px;
    margin: 12px 3px 0px 4px;
    border: 2px solid #ccc;
    background-color:transparent;
    border-radius: 5px;
    display:inline-block;
    position: relative;
}

/* ************************Boton Copiar************************ */

.boton:hover{
    border-bottom: solid rgb(0,50,200) 2px;

 }

.cp-pantalla:hover{

    background-color: rgba(230,230,235,0.3);
    border: 2px solid rgb(230,230,235);

}

@media screen and (max-width:425px){
    
    #sector1{
        width: 100%;
        margin-top: 60px;

    }
    #sector3{
        width: 100%;
    }

    
}